// Please do not change the order of the numbered sections!
// The expected order is: 1. Parameters - 2. Profiles - 3. Process -  4. Executor

// There is a high chance it would break the configuration of 'profiles'

manifest {
    name = 'twas'
    author = ''
    description = 'TWAS pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=19.10.0'
    version = '1.0.0'
}

// 1. Parameters

// NOTE: 
// Initialise the values of the params to the preferred default value or to false


params {
    // input options
    gwas_summary_statistics = null
    gwas_sample_size = null

    ld_reference_panel = "s3://lifebit-featured-datasets/pipelines/twas/reference_data/1KG_phase3_v5_panel.gambit.tgz" // 1000Genomes phase 3 EUR LD panel
    eqtl_weights =  "s3://lifebit-featured-datasets/pipelines/twas/reference_data/PTWAS_scan.weights.hg38.txt.gz"

    // Annotation parameters
    annotate_vcf = false
    gene_annotations = "s3://lifebit-featured-datasets/pipelines/twas/reference_data/refFlat.txt.gz"
    codons = "s3://lifebit-featured-datasets/pipelines/twas/reference_data/codon.txt"
    priority_file = "s3://lifebit-featured-datasets/pipelines/twas/reference_data/priority.txt"
    ref_fasta = "s3://lifebit-featured-datasets/pipelines/twas/reference_data/Homo_sapiens_assembly38.fasta"
    ref_fasta_index = "s3://lifebit-featured-datasets/pipelines/twas/reference_data/Homo_sapiens_assembly38.fasta.fai"

    gambit_exec_path = "/GAMBIT/bin/GAMBIT"
    outdir = 'results'

    // report_dir is:
    // - the folder from the container that includes the scripts for NF <= v20.01 (bin)
    // - the ${projectDir}/bin folder of the root of the repo with the scripts for NF >= v20.10
    report_dir = '/opt/bin/'

    // when set to true, prints help and exits
    help = false
    
    // container for all processes, excluding those defined with 'withName' (see example below)
    container = 'quay.io/lifebitai/ptwas:1.0.1'

    // process resources defaults
    cpus = 1
    memory = 2.GB
    disk = '30.GB'
    med_memory = 6.GB
    med_cpus = 1
    
    // max resources limits defaults
    max_cpus = 2
    max_memory = 4.GB
    max_time = 8.h
    
    // execution related defaults
    config = 'conf/standard.config'
    echo = false
    errorStrategy = 'finish'
    maxRetries = 9
    maxForks = 200
    queueSize = 200
    executor = false

    // google-lifesciences
    gls_bootDiskSize = '50.GB'
    gls_preemptible = true
    zone = 'us-east1-b'
    network = 'default'
    subnetwork = 'default'

    // AWS batch
    aws_region = 'eu-west-1'
    aws_batch_default_queue = "optimal-instance-1tb-ami-spot-queue"
    aws_batch_cli_path = '/home/ec2-user/miniconda/bin/aws' 
    aws_batch_fetch_instance_type = true
    aws_batch_max_parallel_transfers = 2
    aws_batch_volumes = '/home/ec2-user/.aws:/root/.aws'
}


// 2. Profiles


// Do not update the order because the values set in params scope will not be overwritten
// Do not attempt to simplify to 
// includeConfig params.config 
// outside of profiles scope, it will fail to update the values of the params
profiles {
    standard {includeConfig params.config}
    docker { docker.enabled = true }
    awsbatch { includeConfig 'conf/aws-batch.config' }
    test_vcf {includeConfig 'conf/test_vcf.config'}
    test_small_vcf {includeConfig 'conf/test_small_vcf.config'}
    test_large_vcf {includeConfig 'conf/stress_test/test_large_vcf.config'}
    test_tsv {includeConfig 'conf/test_tsv.config'}
    singularity {includeConfig 'conf/singularity.config'}
}

// 3. Process

// Do not change order of block, must follow after profiles scope (last section that updates params)
process {
    echo = params.echo
    cpus = params.cpus
    memory = params.memory
    maxRetries = params.maxRetries
    maxForks = params.maxForks
    container = params.container
    errorStrategy = params.errorStrategy

    queue = "${params.aws_batch_default_queue}"

    withName: transform_gwas_vcf {
        container = "quay.io/lifebitai/gwas:1.2dev"
        memory = params.med_memory
    }

    withName: add_annotations {
        container = "quay.io/lifebitai/anno:1.0.1"
        memory = params.med_memory
    }
  
    withName: ptwas_scan {
        disk = '60.GB'
        cpus = params.med_cpus
        memory = params.med_memory
    }

    
}

// 4. Executor - Do not remove this section! Required for running with different executors using --executor parameter

executor {
    name = params.executor
    queueSize = params.queueSize
}
