
   
/*
 * -----------------------------------------------------------------
 *  twas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_small_vcf

 */
 
 params {
    gwas_summary_statistics = "s3://lifebit-featured-datasets/pipelines/twas/testdata/GCST001969_harmonised_small.vcf"
    annotate_vcf = true
    gwas_sample_size = 88000
    report_dir = "/opt/bin"
    eqtl_weights = "s3://lifebit-featured-datasets/pipelines/twas/reference_data/PTWAS_scan.weights.small.hg38.txt.gz" // only chr1,chr2 for test

    max_cpus = 2
}
