
   
/*
 * -----------------------------------------------------------------
 *  twas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_vcf

 */
 
 params {
    gwas_summary_statistics = "s3://lifebit-featured-datasets/pipelines/prs/testdata/GCST001969_fully_harmonised_sumstats.vcf"
    annotate_vcf = true
    gwas_sample_size = 88000
    report_dir = "/opt/bin"

    max_cpus = 2
}
