
   
/*
 * -----------------------------------------------------------------
 *  twas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a stress test. Use as follows:
 * nextflow run main.nf -profile test_large_vcf

 */
 
 params {
    gwas_summary_statistics = "s3://lifebit-featured-datasets/pipelines/downstream-benchmarking/gwas_vcf/GRCh38/GCST90001562_fully_harmonised_sumstats.vcf"
    annotate_vcf = true
    gwas_sample_size = 3427
    report_dir = "/opt/bin"

    max_cpus = 2
}
